[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kbarcode-kde4 --barcode
Icon=kbarcode.png
DocPath=kbarcode/index.html
Comment=Barcode generation tool
Comment[de]=Barcode Erstellung
Terminal=0
Name=KBarcode-kde4 Barcode Generator
Name[de]=KBarcode-kde4 Barcode Generator
Categories=Qt;KDE;Office;
