[Desktop Entry]
Type=Application
Exec=kbarcode --batch
Icon=kbarcode
DocPath=kbarcode/index.html
Comment=Barcode and label printing tool (batch printing mode)
Comment[de]=Werkzeug zum Barcode und Etiketten Druck (Stapelverarbeitung)
Terminal=false
Name=KBarcode Batch Printing
Name[de]=KBarcode Batch Druck
Categories=Qt;KDE;Office;
