[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kbarcode-kde4 --batch
Icon=kbarcode.png
DocPath=kbarcode-kde4/index.html
Comment=Barcode and label printing tool (batch printing mode)
Comment[de]=Werkzeug zum Barcode und Etiketten Druck (Stapelverarbeitung)
Terminal=false
Name=KBarcode-kde4 Batch Printing
Name[de]=KBarcode-kde4 Batch Druck
Categories=Qt;KDE;Office;
