[Desktop Entry]
Type=Application
Exec=kbarcode --barcode
Icon=kbarcode
DocPath=kbarcode/index.html
Comment=Barcode generation tool
Comment[de]=Barcode Erstellung
Terminal=false
Name=KBarcode Barcode Generator
Name[de]=KBarcode Barcode Generator
Categories=Qt;KDE;Office;
