[Desktop Entry]
Type=Application
Exec=kbarcode --caption "%c" %i %f
Icon=kbarcode
MimeType=application/kbarcode-label;
DocPath=kbarcode/index.html
Comment=Barcode and label printing tool
Comment[de]=Werkzeug zum Barcode und Etiketten Druck
Terminal=false
Name=KBarcode
Name[de]=KBarcode
GenericName=Barcode And Label Editor
Categories=Qt;KDE;Office;
