[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kbarcode-kde4 --label
Icon=kbarcode.png
DocPath=kbarcode-kde4/index.html
Comment=Barcode and label printing tool (editor)
Comment[de]=Werkzeug zum Barcode und Etiketten Druck (Editor)
Terminal=false
Name=KBarcode-kde4 Label Editor
Name[de]=KBarcode-kde4 Label Editor
Categories=Qt;KDE;Office;


