[Desktop Entry]
Type=Application
Exec=kbarcode-kde4 --barcode
Icon=kbarcode
DocPath=kbarcode-kde4/index.html
Comment=Barcode generation tool
Comment[de]=Barcode Erstellung
Terminal=false
Name=KBarcode-kde4 Barcode Generator
Name[de]=KBarcode-kde4 Barcode Generator
Categories=Qt;KDE;Office;
